:root {
  --black-color: #000;
  --white-color: #fff;
  --red-color: rgb(237, 40, 85, 1);
  --gray-color: #eee;
  --dark-gray-color: #444;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

@page { 
  size: A4;
  margin: 0mm;
  padding: 0mm;
  box-sizing: border-box;
}

html {
  position: relative;
  font-size: 60%;
  transform: rotate( 90deg ); /* iphoneクソだから強引に横にする */
  width: 100%;
  height: 100%;
  margin: 0mm;
  padding: 0mm;
  box-sizing: border-box;
}

body {
  position: absolute;
  top: 15mm;
  left: -35mm;
  right: 0;
  bottom: 0;
  /* このサイズは仮 */
  width: 281mm;
  height: 218mm;
  /* width: 100%; */
  margin: auto;
  page-break-before: always;
  background-color: #fff;
  /* font-family: "Noto Sans JP"; */
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
  font-size:1.6rem;/* 16px*/
  line-height: 1.5;
  outline: 0;
}

.red {
  color: rgb(237, 40, 85, 1);
  color: var(--red-color);
}

.loader {
  display: none;
}

#bottom_line {
  display: none;
}

video {
  display: none;
}

.child-info-area {
  display: flex;
}

.child-info-area div {
  margin: 0 5px;
  color: #000;
  color: var(--black-color);
  font-size: 2rem;
}

.entry-field {
  font-size: 2rem;
  padding: 5px;
  box-sizing: border-box;
  width: 50%;
  height: 40px;
  margin: 0 0 5px 5px;
  border: thin solid #444;
  border: thin solid var(--dark-gray-color);
}

.child-physical-info p {
  width: 90%;
  margin: 0 auto 5px auto;
  display: flex;
}

span.left {
  display: block;
  width: 60%;
}

span.right {
  text-align: right;
  display: block;
  width: 40%;
  font-size: 1.8rem;
  padding: 3px;
  box-sizing: border-box;
}

.tab-list {
  display: flex;
}

.tab {
  background-color: rgb(237, 40, 85, 1);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  margin: 0 5px;
  font-size: 2rem;
  font-weight: bolder;
  padding: 2px;
  box-sizing: border-box;
}

#tab_1 {
  width: 66.6%;
}

#tab_2 {
  width: 33.3%;
}

.tab-contents {
  display: flex;
}

.content {
  margin: 5px;
  flex-wrap: wrap;
}

#content_1 {
  width: 66.6%;
}

#content_2 {
  width: 33.3%;
}

.check-point-area {
  display: none;
}

.check-point-image-container {
  display: flex;
  flex-wrap: wrap;
}

.check-point-image-container {
  font-size: 1.9rem;
  font-weight: bolder;
}

.check-point-image-container > div {
  width: 48%;
  margin: 2% 1%;
}

.check-point-image-container img {
  width: 100%;
}

.child-contents {
  display: flex;
}

.child-message-area {
  width: 50%;
  margin: 3% 0 0;
  font-size: 2rem;
  position: relative;
}

.flower-icon {
  width: 20%;
  position: absolute;
  top: -20px;
  left: 0;
}

.bg-mask {
  position: absolute;
  width: 91%;
  bottom: 0;
  right: 0;
  padding: 5% 0 0 5%;
  box-sizing: border-box;
}

.animal-area {
  width: 50%;
  display: flex;
}

.animal-text {
  width: 40%;
  position: relative;
}

.animal-text p {
  font-size: 1.8rem;
  position: absolute;
  bottom: 20px;
  right: 0px;
}

.animal-text .animal-name {
  font-size: 2.5rem;
  font-weight: bolder;
}

.animal-img {
  width: 60%;
}

.animal-img img {
  width: 100%;
}

/* bar area start */
.bars-area {
  width: 98%;
  margin: 0 auto;
}

.bar-container {
  width: 100%;
  margin: 2% 0 3%;
}

.bar-labels {
  font-size: 1.8rem;
  font-weight: bolder;
  display: flex;
}

.bar-wrapper {
  width: 100%;
  height: 3px;
  background-color: rgb(237, 40, 85, 1);
  background-color: var(--red-color);
  margin: 0.5rem 0;
  border-radius: 3px;
}

.bar {
  width: 0;
  height: 100%;
  background-color: rgb(237, 40, 85, 1);
  background-color: var(--red-color);
  font-size: 1.8rem;
}

p.bar-value-text {
  color: rgb(237, 40, 85, 1);
  color: var(--red-color);
  text-align: right;
  font-size: 1.8rem;
}

p.bar-summary {
  font-size: 1.53rem;
  line-height: 1.5;
  margin: .3rem 0;
}
/* bar area end */

.message-container {
  width: 98%;
  margin: 1% auto;
}

.message-area {
  width: 60%;
}

.message-area .title {
  font-size: 1.8rem;
  font-weight: bolder;
}

.message-area p {
  margin-top: 5px;
}

.qr-wrapper {
  width: 38%;
  margin-left: 2%;
}

.qr-wrapper p {
  color: rgb(237, 40, 85, 1);
  color: var(--red-color);
  font-size: 1.3rem;
  text-align: center;
}

.nec-sportip-icon img {
  width: 100%;
}

span.deadline {
  color: var(--black-color);
  color: #000;
}

canvas {
  width: 80%;
  margin: 5px auto 0;
  display: block;
}

footer {
  display: none;
}

/*flex*/
.row{
    display: flex;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}

.form {
  display: none;
}

form.print-form {
  display: none;
}